/* Hero Section */
.buttons {
    display: flex;
    gap: 1rem;
    margin: 1.5rem 0; 
}

.container {
    display: flex;
    min-height: 50vh;
    align-items: center;
    gap: 5%;
}

.imageSection {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.imageContainer {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 3px solid #ccc;
    position: relative;
    overflow: hidden;
}

.image {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: auto;
    filter: grayscale(70%);
}

.textSection {
    width: 100%;
}

.textContainer {
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
}

.placeholder {
    /* font-size: 2rem; */
    background-color: transparent;
    color: var(--green);
}

.occupation {
    color: var(--gray);
    /* margin-bottom: 1.2rem; */
    font-weight: bold;
    color: #555;
    font-size: 1.25rem;
    text-wrap: wrap;
}

.socials {
    display: flex;
    gap: 6px;
}

.social {
    width: 30px;
    height: 30px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.social img {
    width: 100%;
    height: auto;
    object-fit: cover;
    position: absolute;
}

@media screen and (max-width: 1300px) {
    .imageContainer {
        width: 250px;
        height: 250px;
    }

    .occupation {
        font-size: 1rem;
    }
}

@media screen and (max-width: 980px) {
    .container {
        flex-direction: column;
        margin-top: 1.5rem;
    }

    .imageSection {
        justify-items: center;
        width: 100%;
        display: block;
    }

    .textContainer {
        
    }
}
